/* Fonts created by /u/Solbera on Reddit */
	@font-face {
	font-family: "NodestoCaps";
	src: url("/Fonts/Nodesto%20Caps%20Condensed%20Bold.woff2") format("woff2"), url("/Fonts/Nodesto%20Caps%20Condensed%20Bold.woff") format("woff");
	}
	@font-face {
	font-family: "MrEavesSmallCaps";
	src: url("/Fonts/Mr%20Eaves%20Small%20Caps.woff2") format("woff2"), url("/Fonts/Mr%20Eaves%20Small%20Caps.woff") format("woff");
	}
	@font-face {
	font-family: "BookInsanity";
	src: url("/Fonts/BookinsanityRemakeRegular.woff2") format("woff2"), url("/Fonts/BookinsanityRemakeRegular.woff") format("woff");
	}
	@font-face {
	font-family: "ZatannaMisdirection";
	src: url("/Fonts/Zatanna%20Misdirection.woff2") format("woff2"), url("/Fonts/Zatanna%20Misdirection.woff") format("woff");
	}
	@font-face {
	font-family: "ScalySansCapsBold";
	src: url("/Fonts/Scaly%20Sans%20Caps%20Bold.woff2") format("woff2"), url("/Fonts/Scaly%20Sans%20Caps%20Bold.woff") format("woff");
	}
	@font-face {
	font-family: "ScalySansBold";
	src: url("/Fonts/Scaly%20Sans%20Bold.woff2") format("woff2"), url("/Fonts/Scaly%20Sans%20Bold.woff") format("woff");
	}
	@font-face {
	font-family: "ScalySans";
	src: url("/Fonts/Scaly%20Sans.woff2") format("woff2"), url("/Fonts/Scaly%20Sans.woff") format("woff");
	}
	.TitleFont {
	font-family:NodestoCaps;
	font-weight:normal;
	font-size: calc(24px + 5.0vw);
	text-align: center;
	color:white;
	text-shadow: 1px 1px 2px #000000,-1px 1px 2px #000000,1px -1px 2px #000000,-1px -1px 2px #000000;
	}
	.HeadFont {
	font-family:MrEavesSmallCaps;
	font-weight:bold;
	font-size: calc(24px + 0.9vw);
	text-align: left;
	color: #58180d;
	border-bottom: 2px solid #cdb376;
	display: inline-block;
	line-height: 0.8;
	}
	.SubHeadFont {
	font-family:MrEavesSmallCaps;
	font-weight:bold;
	font-size: calc(20px + 0.8vw);
	text-align: left;
	color: #58180d;
	}
	.flikr {
	min-height: 700px;
	}
	.BodyFont {
	font-family:BookInsanity;
	font-weight:normal;
	font-size: calc(14px + 0.4vw);
	text-align: left;
	color: black;
	}
	.TableTitleFont {
	font-family:ScalySansCapsBold;
	font-weight:normal;
	font-size: calc(11pt + .6vw);
	text-align: left;
	color: black;
	}
	table {
		width:100%;
	}
	table, th, td {
		border-collapse: collapse;
	}
	th, td {
		padding: 5px;
		font-family:ScalySans;
		font-weight:normal;
		font-size: calc(8.5pt + .4vw);
		text-align: left;
		color: black;
	}
	table tr:nth-child(even) {
		background-color:#e3e5bd;
	}
	table th {
		font-family:ScalySansBold;
		font-weight:bold;
		font-size: calc(8.5pt + .4vw);
		text-align: left;
		color: black;
	}
	#audioplayer {
		width: 325px;
	}
	hr {
	height:2px;
	border:none;
	color:rgb(0,0,0);
	background-color:rgb(0,0,0);
	opacity:0.3;
	}
	iframe { 
	min-height: 100vh; 
	}
