@font-face {
	/* Font created by /u/Solbera on Reddit */
	font-family: "Nodesto Caps Condensed Bold";
	src: url("NodestoCapsCondensedBold.woff2") format("woff2");
}
#audioplayer {
	width: 325px;
}
body {
	background-image: url("bg.jpg");
}
.bucks {
	font-size: 90%;
}
.fab:hover {
	opacity: 0.5;
}
.fabbox {
	font-size: 8.25vw;
	margin: auto;
	width: 95%;
	-webkit-justify-content: space-between;
	/* Safari 6.1+ */
	display: flex;
	justify-content: space-between;
}
h1 {
	color: white;
	font-family: Nodesto Caps Condensed Bold;
	font-size: calc(36px + 3.0vw);
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: -10px;
	line-height: 1.25;
	text-align: center;
	text-shadow: 1px 1px calc(0.05vw) #000000, -1px 1px calc(0.05vw) #000000, 1px -1px calc(0.05vw) #000000, -1px -1px calc(0.05vw) #000000;
	text-transform: uppercase;
	-webkit-text-stroke-width: calc(0.1vw);
	-webkit-text-stroke-color: black;
}
h2, h3 {
	color: #58180d;
	display: inline-block;
	font-family: 'Spectral SC', serif;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 0.9;
	margin-bottom: -10px;
	margin-top: 20px;
}
h2 {
	border-bottom: 2px solid transparent;
	font-size: calc(22px + 0.4vw);
}
h3 {
	border-bottom: 2px solid #cdb376;
	font-size: calc(18px + 0.4vw);
}
h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 22px;
	font-variant: small-caps;
	text-align: left;
	color: black;
	margin-top: 10px;
	margin-bottom: 0px;
}
html, body {
	margin: 0;
	padding: 0;
	min-height: calc(100% - 5px);
}
.music {
	text-align: center;
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.notpaper {
	margin-top: 40px;
	padding: 20px;
	position: relative;
	min-height: calc(100vh - 150px);
}
p {
	color: black;
	font-family: 'Spectral', serif;
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 0px;
	margin-top: 10px;
}
.paper {
	background-image: url(bg.jpg);
	margin-top: 60px;
	padding: 30px;
	position: relative;
	min-height: calc(100vh - 150px);
}
.paper, .paper::before, .paper::after {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #bbb;
}
.paper::before, .paper::after {
	content: "";
	position: absolute;
	height: 99%;
	width: 99%;
	background-image: url(bg.jpg);
}
.paper::before {
	right: 15px;
	top: 0;
	transform: rotate(-1deg);
	z-index: -1;
}
.paper::after {
	top: 5px;
	right: -5px;
	transform: rotate(1deg);
	z-index: -2;
}
.r20 {
	width: 8.25vw;
	height: auto;
}
table {
	width: 100%;
}
table, th, td {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	color: black;
}
table tr:nth-child(even) {
	background-color: #e3e5bd;
}
table th {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	color: black;
}
.topnav {
	overflow: hidden;
	background-color: #333;
	clear: left;
	display: flex;
	justify-content: space-around;
	font-family: 'Source Sans Pro', sans-serif;
	position: fixed;
	top: 0;
	z-index: 99;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav .icon {
	float: right;
	display: none;
}
.topnav.responsive {
	position: relative;
	display: block !important;
}
.topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topnav.responsive a {
	float: none !important;
	display: block !important;
	text-align: left !important;
}
@media screen and (min-width: 1920px) {
	.fabbox {
		font-size: 150px;
	}
	.r20 {
		width: 150px;
	}
}
@media screen and (min-width: 1200px) {
	body, .topnav {
		width: 1200px;
		margin: auto;
	}
}
@media screen and (max-width: 1200px) {
	.topnav {
		width: 100%;
	}
}
@media screen and (max-width: 1000px) {
	.topnav a:not(:nth-child(-n+8)):not(.icon) {
		display: none;
	}
	.topnav .icon {
		display: block;
	}
}
@media screen and (max-width: 880px) {
	.topnav a:not(:nth-child(-n+6)):not(.icon) {
		display: none;
	}
}
@media screen and (max-width: 725px) {
	.topnav a:not(:nth-child(-n+4)):not(.icon) {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.topnav a:not(:nth-child(-n+3)):not(.icon) {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.topnav a:not(:nth-child(-n+2)):not(.icon) {
		display: none;
	}
}
